<h1>Don't look outside</h1>
<form id="citySearch">
  <label>Search</label>
  <input id="cityInput" name="city" type="text">
  <input type="submit">
</form>

<div id="weatherDisplay">
  
</div>

<ul id="storedCities">
  
</ul>